# Docker dev
cache/
config/
logs/
state/
docker-compose.override.yaml


# Ignore system-specific files
.DS_Store
Thumbs.db

# Backup files
*~
*.swp
*.bak
*.tmp

# Python cache
*.pyc
__pycache__/
*/__pycache__/

# Build artifacts
*.egg-info/
build/
*/docs/build/
/docs/build/

# Cython compiled
*.so
*.pyd

# Venv
venv/
.venv/
env/
.env/

# Env files
**/*.env

# Obsidian
.obsidian/

# Raw data
data/raw/

# Jupyter
*.ipynb_checkpoints/

# config
config/.env

# dbt
**/target/
**/dbt_packages/
**/logs/
**/dbt/.user.yml
